{% extends "survey/Base.html" %}

{{ block title }}

{{ endblock }}
{{ block content }}
    <div class="instructions" style="text-align:center">
        <b>Please answer the following questions by rating on a scale from 0 (not at all) to 10 (very).</b>
        <br>
        How did you feel making/requesting a side payment or accepting the side payment?
    </div>

    <table class="table">
        {% for field in form %}
            <tr>
                <td>
                    {{ field.label }}
                </td>
                <td align="right">
                    {{ field }}
                </td>
            </tr>
        {% endfor %}
    </table>

    <div class="progress" style="height: 30px;">
        <div class="progress-bar" role="progressbar" aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100" style="width:{{progress|json}}%; text-align:center">
            <span style="font-size:12pt;">{{ progress }}%</span>
        </div>
    </div>

    <hr>
    <button class="o-tree-btn-next btn btn-primary" id="Next" disabled>Next</button>

    <script>
        // hide next button until all questions are answered
        score_array = [0, 0, 0];
        total_score = 100;
        $(document).ready(function() {
            $('.form-select').each(function() {
                console.log($(this).attr('id'));
                $(this).change(function() {
                    var i = $(this).attr('id').match(/\d+/)[0];
                    if ($(this).val()) {
                        score_array[i - 1] = 1;
                    } else {
                        score_array[i - 1] = 0;
                    }
                    console.log(score_array);
                    progress = 40 + (score_array.reduce((a, b) => a + b, 0) / total_score) * 100;
                    $('.progress-bar').css('width', progress + '%').attr('aria-valuenow', progress);
                    $('.progress-bar').text(progress + '%');
                    if (progress == 43) {
                        $('#Next').prop('disabled', false);
                    } else {
                        $('#Next').prop('disabled', true);
                    }
                });
            });
        });
    </script>
    
{{ endblock }}
